html, body{
    height: 100vh;
    background: black;
    color: red;
    overflow: hidden;

}
header{
    background-blend-mode: hue;
    display: flex;
    justify-content: center;
    background-color:aqua;
}

.container {
    overflow-y: scroll;
    max-height: 100vh;
    scroll-snap-type: y mandatory;
}

    section {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
      
    }


section:nth-of-type(1) {
    background-color: yellow;
    color: black;
   
}

section:nth-of-type(2) {
    background-color: blue;
    color: red;
    
}

section:nth-of-type(3) {
    background-color: grey;
 

}

section:nth-of-type(4){
    background-color: red;
    color: white;
}
section:nth-of-type(5){
    background-color: pink;
    color: white;
}
section:nth-of-type(6){
    background-color: fuchsia;
    color: black;
}

    h1 {
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 2vw;
    }

